<div class="wrap">

    <h2>{{ title }}</h2>

    <div class="card" style="min-width:100%;">
        <h2>Usage:</h2>
        Use one of these shortcodes to display a specific part of the Events.<br>
        Copy the complete shortcode and place the code inside the content field of a specific page.<br>
        <p>
            <code>[dpg-ep-activities]</code> ( display a list with all the activities, no format )<br>
        </p>
        <p>
            <code>[dpg-ep-shops]</code> ( display all the shops, including a search option, organised by category )<br>
        </p>
        <p>
            <code>[dpg-ep-shops-extended]</code> ( display all the shops at random order with image )<br>
        </p>
        <p>
            <code>[dpg-ep-program-category]</code> ( display a list with the program grouped by category )<br>
        </p>
        <p>
            <code>[dpg-ep-program]</code> ( display a list with the program )<br>
        </p>
    </div>

    <div class="card" style="min-width:50%;">
        <form method="post" action="options.php">
            {{ eventapi_settings_form('eventapi_settings_admin') }}
        </form>
    </div>

    <div class="card" style="min-width:50%;">
        <form method="post" action="options.php">
            {{ eventapi_settings_form('eventapi_clear_cache_admin', 'Reload Event Data') }}
        </form>
    </div>

</div>
