<div class="c-exhibitors__categories">
    <option value="">Aktiviteiten</option>
    {% for activity in activityList %}

        <?php foreach ($activityList as $activity) : ?>
        <p>
            <b>{{ activity.getTitle }}</b>
            {{ activity.getDateActive }}<br>
        </p>
    {% endfor %}
</div>
