<div class="c-event-activities-category">
    <nav>
        {% for category_name, unused in activityListByTimeslot %}
            <a href="#" data-category="{{ category_name|lower }}"
               {% if active_activity == category_name %}class="active"{% endif %}
            >{{ category_name|capitalize }}</a>
        {% endfor %}
    </nav>

    {% for category_name, days_activities in activityListByTimeslot %}
        <div class="c-event-category"
             data-category="{{ category_name|lower }}">
            {% for day, day_activities in days_activities %}
                {% include 'event-api-frontend/program/category/day.twig' with {
                    'day': day,
                    'category_name': category_name,
                    'settings' : settings
                } %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
