<div class="c-event-shopping">

    <div class="c-event-shop-header">
        <input type="text" name="event_shop_search" placeholder="Zoek een shop..."/>
    </div>

    {% if branches is iterable %}
        {% for categoryTitle, shops in branches %}
            <div class="c-shop-category">
                <h2>Categorie {{ categoryTitle|lower }}</h2>
                <div class="s-columns s-columns--3">
                    {% for shop in shops|sort((a, b) => a.stand.name <=> b.stand.name) %}
                        {% include 'event-api-frontend/shops/shop.twig' with {
                            'shop': shop,
                            'settings': settings
                        } %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="s-grid s-grid--responsive c-event-no-result">
    Er zijn geen shops gevonden, probeer het eens met een andere zoekopdracht.
</div>
