{% set category_day_hash = category_name ~ day %}

<div class="day">
    <div class="title" data-target="{{ category_day_hash|md5 }}">
        <div>
            {{ day|localDate("l j F Y")|capitalize }}
        </div>
        {% include "event-api-frontend/program/category/icon.twig" %}
    </div>
    <div class="activities" data-item="{{ category_day_hash|md5 }}">
        {% for day_activity in day_activities %}
            {% include 'event-api-frontend/program/category/activity.twig' with {
                'day_activity': day_activity,
                'settings': settings
            } %}
        {% endfor %}
    </div>

</div>